
/* Estilos generales para el cuerpo de la página */
body
{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Estilos para el título principal */
#resh1
{
    color:  #4E6E8E;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos para el contenedor de la tabla */
#output
{
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado de la tabla */
#output h2
{
    color:  #4E6E8E;
    text-align: center;
}

/* Estilos para la tabla de datos */
.tabla
{
    overflow-x: auto;
}

#data-table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Estilos para las celdas de la tabla */
#data-table th,
#data-table td
{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Estilos para las celdas de la cabecera de la tabla */
#data-table th
{
    background-color: #4E6E8E;
    color: #fff;
}

/* Estilos para las filas impares de la tabla de datos */
#data-table tr:nth-child(odd)
{
    background-color: #fff;
}

/* Estilos para la primera columna de la tabla */
#data-table tr td:first-child
{
    background-color:  #4E6E8E;
    color: #fff;
}

/* Estilos para la primera fila de la tabla */
#data-table tr:first-child th
{
    background-color:  #4E6E8E;
    color: #fff;
}

SS
body
{
    font-family: Arial, sans-serif;
    background-color: hsla(0, 23%, 85%, 0.129);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


label
{
    color: #296187;
    font-weight: bold;
}

#id-selection
{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #275a7c;
    border-radius: 5px;
}

button
{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1e3849;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 20px;
}

button:hover
{
    background-color: #236fa1;
}

button:focus
{
    outline: none;
}

#qrcode
{
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

#qrcode img
{
    width: 200px;
    height: 200px;
}

#button-container{
    align-items: center;
    text-align: center;
    display: flex;
}
